<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XTramile Weather</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
            @RenderBody()
    </div>
    @* <script defer src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script defer src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script defer src="~/js/site.js"></script>
</body>
</html>
